<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Versos de vida</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Parábolas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"
              >Biblia adventista</a
            >
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/img/img1.jpg" alt="Bg img" width="100%" />
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>versos, versículos y parábolas de vida</h1>
          <p class="opacity-75">
            Inspiración Diaria: Versos que Iluminan Tu Camino
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/img/img2.jpg" alt="Bg img" width="100%" />
      <div class="container">
        <div class="carousel-caption">
          <h1>Profundizando en las Parábolas</h1>
          <p>
            Explora las parábolas adventistas y descubre las lecciones
            escondidas en estas historias poderosas.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/img/img3.jpg" alt="Bg img" width="100%" />
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Versículos para Reflexionar.</h1>
          <p>
            Encuentra paz y sabiduría en nuestra selección de versículos que
            hablan al corazón.
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/img/img4.jpg" alt="Bg img" width="100%" />
      <div class="container">
        <div class="carousel-caption">
          <h1>Historias de Fe y Esperanza.</h1>
          <p>
            Lee relatos inspiradores basados en enseñanzas bíblicas y cómo
            aplicarlas en la vida moderna.
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
