<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4 d-flex flex-column align-items-center text-center">
      <img
        src="/assets/img/img6.jpg"
        alt="IMG proy final"
        width="250px"
        class="img-fluid rounded-circle shadow-lg mb-4"
      />
      <h2 class="fw-normal mb-3">Pastor John Bradshaw</h2>
      <!-- Espaciado debajo del título -->
      <p class="text-muted">
        <!-- Texto con un tono más suave -->
        El pastor John Bradshaw inició su carrera en los medios de comunicación
        como locutor de radio.
      </p>
      <p>
        <a
          class="btn btn-primary"
          href="https://escritoesta.org/oradores/"
          target="_blank"
          >Ver más &raquo;</a
        >
        <!-- Botón primario de Bootstrap -->
      </p>
    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-4 d-flex flex-column align-items-center text-center">
      <img
        src="/assets/img/img5.png"
        alt="IMG proy final"
        width="250px"
        class="img-fluid rounded-circle shadow-lg mb-4"
      />
      <h2 class="fw-normal">Pastor Robert Costa</h2>
      <p>
        Robert E. Costa ha servido como pastor, director departamental, y
        administrador de la Iglesia Adventista del Séptimo Día desde 1980 en
        Sudamérica y Norteamérica.
      </p>
      <p>
        <a
          class="btn btn-primary"
          href="https://escritoesta.org/oradores/"
          target="_blank"
          >Ver más &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 d-flex flex-column align-items-center text-center">
      <img
        src="/assets/img/img7.jpg"
        alt="IMG proy final"
        width="250px"
        class="img-fluid rounded-circle shadow-lg mb-4"
      />
      <h2 class="fw-normal">Pastor Eric Flickinger</h2>
      <p>
        Eric Flickinger actualmente se desempeña como orador asociado para It Is
        Written. Hijo de un oficial del ejército, Eric viajó extensamente por
        los Estados Unidos y Europa cuando era niño.
      </p>
      <p>
        <a
          class="btn btn-primary"
          href="https://escritoesta.org/oradores/"
          target="_blank"
          >Ver mas &raquo;</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card border-0 shadow h-md-250">
        <div class="row g-0">
          <div class="col-md-8 p-4 d-flex flex-column">
            <h5 class="card-title text-primary">Versos Inspiradores</h5>
            <h3 class="mb-2">Esperanza y Fe</h3>
            <p class="text-muted mb-2">Notas de fe</p>
            <p class="card-text">
              Descubre versos que brindan esperanza y fortalecen la fe en
              momentos de desafío. Palabras que inspiran y guían en el camino
              espiritual.
            </p>
          </div>
          <div class="col-md-4 d-none d-md-block">
            <img
              src="/assets/img/img16.jpg"
              alt="Imagen Versos de Vida"
              class="img-fluid rounded-end"
              width="100%"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card border-0 shadow h-md-250">
        <div class="row g-0">
          <div class="col-md-8 p-4 d-flex flex-column">
            <h5 class="card-title text-success">Reflexiones Diarias</h5>
            <h3 class="mb-2">Momentos de Meditación</h3>
            <p class="text-muted mb-2">Versos de vida</p>
            <p class="card-text">
              Un viaje diario a través de parábolas y enseñanzas que iluminan el
              alma y el corazón. Sumérgete en reflexiones que transforman.
            </p>
          </div>
          <div class="col-md-4 d-none d-md-block">
            <img
              src="/assets/img/img17.jpg"
              alt="Imagen Reflexiones Diarias"
              class="img-fluid rounded-end"
              width="100%"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Parábola del
        <span class="text-body-secondary">Buen Samaritano.</span>
      </h2>
      <p class="lead">
        La parábola del Buen Samaritano nos enseña sobre la importancia de
        ayudar a los demás, sin importar su origen o apariencia. Descubre cómo
        un hombre, desamparado en el camino, es auxiliado por alguien que
        muestra compasión y cuidado. Aprende a ser un buen prójimo y a tratar a
        todos con amor y respeto.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/assets/img/img8.jpg"
        alt="IMG proy final"
        width="100%"
        class="img-fluid rounded shadow-lg mb-4"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Parábola de
        <span class="text-body-secondary">los Talentos.</span>
      </h2>
      <p class="lead">
        En la parábola de los Talentos, Jesús nos enseña sobre el valor de
        nuestros dones y habilidades. Descubre cómo los personajes de esta
        historia utilizan sus talentos de diferentes maneras y cómo cada uno es
        responsable de aprovechar al máximo lo que se les ha dado. Aprende a
        valorar tus propias habilidades y a utilizarlas para hacer el bien en el
        mundo.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="/assets/img/img9.jpg"
        alt="IMG proy final"
        width="100%"
        class="img-fluid rounded shadow-lg mb-4"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Parábola del
        <span class="text-body-secondary">Sembrador.</span>
      </h2>
      <p class="lead">
        La parábola del Sembrador nos muestra cómo Jesús utiliza una historia
        relacionada con la siembra para enseñarnos sobre la importancia de
        cultivar buenas acciones y actitudes en nuestra vida. Descubre los
        diferentes tipos de "tierra" en los que puede caer la semilla y cómo
        podemos asegurarnos de que nuestras acciones y palabras sean como la
        tierra fértil que produce frutos positivos.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/assets/img/img10.jpg"
        alt="IMG proy final"
        width="100%"
        class="img-fluid rounded shadow-lg mb-4"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Parábola de
        <span class="text-body-secondary">la oveja perdida.</span>
      </h2>
      <p class="lead">
        En la parábola de la Oveja Perdida, Jesús nos muestra su amor y
        compasión infinitos. Aprende cómo un pastor busca y rescata a una oveja
        perdida, enseñándonos que Dios siempre está dispuesto a perdonarnos y a
        recibirnos con alegría cuando nos arrepentimos de nuestros errores.
        Descubre cómo el amor y la misericordia de Dios nunca nos abandonan.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="/assets/img/img11.jpg"
        alt="IMG proy final"
        width="100%"
        class="img-fluid rounded shadow-lg mb-4"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Parábola de la
        <span class="text-body-secondary">Semilla de Mostaza.</span>
      </h2>
      <p class="lead">
        La parábola de la Semilla de Mostaza nos enseña cómo algo pequeño puede
        crecer y convertirse en algo grande y poderoso. Descubre cómo una
        semilla minúscula se convierte en un árbol fuerte y sólido, mostrándonos
        que incluso las acciones y palabras más pequeñas pueden tener un impacto
        significativo en el mundo. Aprende a valorar cada pequeño acto de bondad
        que realices.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/assets/img/img12.jpg"
        alt="IMG proy final"
        width="100%"
        class="img-fluid rounded shadow-lg mb-4"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Parábola del
        <span class="text-body-secondary">Siervo Despiadado.</span>
      </h2>
      <p class="lead">
        La parábola del Siervo Despiadado nos enseña sobre la importancia del
        perdón y la compasión hacia los demás. Descubre cómo un siervo que ha
        sido perdonado por una gran deuda se niega a mostrar misericordia a otro
        siervo que le debe una cantidad menor. Aprende que el perdón es
        fundamental en nuestras relaciones y que debemos tratar a los demás como
        nos gustaría ser tratados.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="/assets/img/img13.jpg"
        alt="IMG proy final"
        width="100%"
        class="img-fluid rounded shadow-lg mb-4"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Parábola de la
        <span class="text-body-secondary">Cena.</span>
      </h2>
      <p class="lead">
        En la parábola de la Cena, Jesús nos enseña sobre la importancia de
        compartir y mostrar generosidad. Descubre cómo un anfitrión invita a
        diferentes personas a una cena y cómo algunos deciden no asistir.
        Aprende a ser agradecido por las bendiciones que recibes y a compartir
        con aquellos que no tienen tanto como tú.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/assets/img/img14.jpg"
        alt="IMG proy final"
        width="100%"
        class="img-fluid rounded shadow-lg mb-4"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Parábola del
        <span class="text-body-secondary">Hombre sabio y el Tonto.</span>
      </h2>
      <p class="lead">
        En esta parábola, Jesús nos muestra la importancia de construir nuestra
        vida sobre bases sólidas. Descubre cómo un hombre sabio construye su
        casa sobre una roca, mientras que un hombre tonto lo hace sobre la
        arena. Aprende a tomar decisiones sabias y a construir tu vida en base a
        los valores y enseñanzas de Jesús.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="/assets/img/img15.jpg"
        alt="IMG proy final"
        width="100%"
        class="img-fluid rounded shadow-lg mb-4"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

  <div class="text-center p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-bold text-primary">Recursos Espirituales</h1>
    <p class="fs-5 text-muted">
      Explora nuestra rica colección de versos, frases y parábolas de la Iglesia
      Adventista, diseñada para inspirar y guiar en tu jornada espiritual.
    </p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-header py-3 text-bg-light">
          <h4 class="my-0 fw-bold">Versos Inspiradores</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Selección diaria de versos</li>
            <li>Reflexiones y comentarios</li>
            <li>Acceso a la comunidad en línea</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">
            Explorar
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-header py-3 text-bg-light">
          <h4 class="my-0 fw-bold">Frases de Reflexión</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Citas inspiradoras diarias</li>
            <li>Discusiones y foros de grupo</li>
            <li>Recursos de estudio bíblico</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">
            Unirse
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-bold">Parábolas y Enseñanzas</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Historias y parábolas significativas</li>
            <li>Guías de estudio y materiales</li>
            <li>Soporte y asesoramiento espiritual</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">
            Descubrir
          </button>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row mb-4">
    <div class="col-md-6">
      <form>
        <h1 class="h3 mb-3 fw-normal">Susbríbete</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="name@example.com"
          />
          <label for="floatingInput">Correo electrónico</label>
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            name="fullName"
            placeholder="Tus nombres..."
          />
          <label for="floatingInput">Nombre completo</label>
        </div>
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            name="whatsapp"
            placeholder="Celular..."
          />
          <label for="floatingInput">Whatsapp</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">
          Registrarse
        </button>
      </form>
    </div>
    <div class="col-md-6">
      <h2>Usuarios suscritos</h2>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Correo electrónico</th>
              <th scope="col">Nombres</th>
              <th scope="col">Celular</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>micorreom.com</td>
              <td>Mi nombre esta aqui</td>
              <td>9879879878</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
